grant codeBase "file:target/classes/-" {
    permission java.security.AllPermission;
};
// tests for Tiny are in here (not ServerCompositionOne nor ServerCompositionTwo though)
grant codeBase "file:target/test-classes/-" {
    permission java.security.AllPermission;
};
// copied into here
grant codeBase "file:target/libs_for_test/-" {
    permission java.security.AllPermission;
};
